body {
    margin: 0px;
    padding: 0px;
    /* background-image: url(banner/ford-mustang-sutton--7.jpg); */
     /* background-size: contain;*/
     background: rgb(241,253,45);
background: radial-gradient(circle, rgba(241,253,45,0.6572008113590264) 0%, rgba(34,74,195,1) 93%);
}


h1 {
    font-weight: bold;
    font-style: italic;
    font-size: 100px;
    margin-top: 20px;
    /* margin-left: 200px; */
    color: rgb(32, 1, 146);
}

.images {
    /* width: 800px; */
    padding-left: 300px;
    display: flex;
    text-align: right;
    /* margin-left: 100px; */
    margin-top: 30px;
    margin-bottom: 0px;
}

.images img {
    width: 80px;
    align-items: center;
    justify-content: space-between;
    width: 50px;
    height: 50px;
}

.form {
    padding-left: 40px;
    background-image: url(banner/wallpaper2.jpg);
    background-size: cover;
    width:auto;
  
}

.about {
    background-color: black;
    /* padding: 15px; */
    color: blanchedalmond;
    height: 200px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0%;
    width: 1000px;
    margin-right: 0px;
    padding: 20px;
}
.about p{
    color: burlywood;
}
.about img{
    width: 25px;
    height: 25px;
    display:table-column;
     margin-top: 20px; 
}

input {
    background-color: rgb(217, 227, 228);
}

.OFFER {
position: relative;
text-align: center;
position: sticky;
height: 300px;

}
.nav{
    height: 200px;
    width: 1000px;
    /* background-color: rgba(240, 235, 235, 0.925); */
    background-size: contain;
    

    /* background-image: url(banner/images\ \(12\).jpeg.jpg); */
    /* background-size: cover; */
}
nav img{
    border-radius: 20px;
    float: left;
    margin-left: 10px;
    width: 200px;
    height: 100px;
    margin-top: 10px;
}
.OFFER .offerpoperties   {
    text-align: right;

}

.OFFER img{
    border-radius: 12px 20px 14px 23px;
    color: blue;
     width: 350px;
     height: auto;
    margin-top: -100px;
}
p{
    color: rgba(32, 95, 212, 0.781); 
}
.footer{
    height: 40px;
    width: 1000px;;
    background-color: black;
    margin-top: -20px;
}

@media only screen and (max-width:800px) {
    /* For tablets: */
    h1{
      width: 80%;
      padding: 0;
    }
    nav {
      width: 100%;
      padding: 0;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
     nav div.images img, nav h4{
      width: 70%;
    }
    h1{
        width: 30%;
    }
    h2{
        padding-right: 20px;
    }
    div.images{
        width: 50%;
        text-align: center;
    }
}
.cover{
    width: 1000px;
}
.about-us p{
font-size:larger;
font:  sans-serif;
color: azure;
}
.address p{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: larger;
color: azure;
}
label{
color:rgb(226, 233, 241);
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: large;
}
.cover :hover{
    color:rgba(rgb(255, 0, 43), rgb(0, 23, 128), rgb(179, 179, 209), alpha);
}
.nav :hover{
    color: rgb(rgba(255, 81, 0, 0.562), rgba(0, 128, 0, 0.726), blue);
}
h4{
    color: rgba(255, 0, 0, 0.452);
}
a{
color: aliceblue;
}